<div class="items-center p-32">
  @if (form) {
    <form [formGroup]="form">
      <p-toast />
      <div class="items-center p-12 bg-violet-400 rounded-md shadow-lg justify-center">
        <h1 class="font-bold text-3xl">
          @if (team) {
            Edit
          } @else {
            Create
          }
          a Team
        </h1>
        <br>
        <p-floatlabel variant="in">
          <input
            pInputText
            id="name"

            formControlName="name"
            autocomplete="off"
          />
          <label for="name" class="to-gray-400">Team Name</label>
        </p-floatlabel>
      </div>
      <br>
      <div class="space-x-32">

        <button type="button"
                class="text-white bg-pink-400 hover:bg-pink-500 focus:ring-4 focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-pink-600 dark:hover:bg-pink-700 focus:outline-none dark:focus:ring-pink-800"
                (click)="saveTeam()">
          @if (team) {
            Update
          } @else {
            Save
          }
        </button>
        <a [routerLink]="[leagueService.currentLeaguePath, 'teams']">
          <button type="button"
                  class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
            Cancel
          </button>
        </a>
      </div>
    </form>
  }
</div>
