<div>
  <br>
  <a [routerLink]="[leagueService.currentLeaguePath, 'createPlayer']">
    <button type="button" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
      Create
    </button>
  </a>
  <div class="card">
    <p-table [value]="teams" [tableStyle]="{ 'min-width': '40rem' }" >
      <ng-template #header>
        <tr>
          <th>ID</th>
          <th>Team name</th>
          <th>Players</th>
        </tr>
      </ng-template>
      <ng-template #body let-team>
        <tr>
          <td>{{team.id}}</td>
          <td>{{team.name}}</td>
          <td>
            <!-- PLAYERS TABLE -->
            <div class="card">
              <div class=" justify-center">
                <button type="button" (click)="showDialog(team.id)" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
                  <i class="pi pi-external-link px-2"></i>Show</button>
              </div>
              <p-dialog
                header="Players"
                [resizable]="false"
                [modal]="true"
                [maximizable]="true"
                appendTo="body"
                [(visible)]="dialogVisible"
                [style]="{ width: '75vw' }"
                [contentStyle]="{ height: '300px' }"
              >
                <p-table [value]="players" [scrollable]="true" scrollHeight="flex" [tableStyle]="{ 'min-width': '50rem' }">
                  <ng-template #header>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Edit</th>
                    </tr>
                  </ng-template>
                  <ng-template #body let-player>
                    <tr>
                      <td>{{ player.id }}</td>
                      <td>{{ player.name }}</td>
                      <td>
                        <a [routerLink]="['/editPlayer',player.id]">
                          <button><i class="pi pi-pen-to-square text-blue-500"></i></button>
                        </a>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                <ng-template #footer>
                  <p-button label="Ok" icon="pi pi-check" (onClick)="dialogVisible = false" />
                </ng-template>
              </p-dialog>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
