<div class="container">
  <h2>Editar Equipo</h2>

  <form (ngSubmit)="updateTeam()">
    <div class="mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Nombre del Equipo</mat-label>
        <input
          matInput
          type="text"
          id="teamname"
          [(ngModel)]="team.teamname"
          name="teamname"
          required
          placeholder="Nombre del equipo"
        />
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>ID Liga</mat-label>
        <input
          matInput
          type="number"
          id="idLeague"
          [(ngModel)]="team.idLeague"
          name="idLeague"
          required
          placeholder="Ingrese ID de la liga"
        />
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit">Actualizar Equipo</button>
    <a [routerLink]="['/teams']" mat-raised-button color="warn" class="ml-2">Cancelar</a>
  </form>
</div>
