<div class="container">
  <h2>Agregar Jugador</h2>

  <form (ngSubmit)="createPlayer()" #playerForm="ngForm">
    <div class="form-group">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Nombre del Jugador</mat-label>
        <input
          matInput
          type="text"
          id="namePlayer"
          [(ngModel)]="player.namePlayer"
          name="namePlayer"
          required
          #namePlayer="ngModel"
        />
        <mat-error *ngIf="namePlayer.invalid && namePlayer.touched">
          El nombre es obligatorio.
        </mat-error>
      </mat-form-field>
    </div>

    
    <div class="form-group">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>ID Liga</mat-label>
        <input
          matInput
          type="number"
          id="idLeague"
          [(ngModel)]="player.idLeague"
          name="idLeague"
          required
          #idLeague="ngModel"
        />
        <mat-error *ngIf="idLeague.invalid && idLeague.touched">
          El ID de la liga es obligatorio.
        </mat-error>
      </mat-form-field>
    </div>

    
    <div class="form-group">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>ID Equipo</mat-label>
        <input
          matInput
          type="number"
          id="idTeam"
          [(ngModel)]="player.idTeam"
          name="idTeam"
          required
          #idTeam="ngModel"
        />
        <mat-error *ngIf="idTeam.invalid && idTeam.touched">
          El ID del equipo es obligatorio.
        </mat-error>
      </mat-form-field>
    </div>

    
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="playerForm.invalid"
    >
      Crear Jugador
    </button>
  </form>

  
  <div *ngIf="successMessage" class="alert alert-success mt-3">
    {{ successMessage }}
  </div>
</div>
