<div class="container">
  <h1>Gestión de Partidos</h1>
  <button (click)="navigateToCreate()" class="btn btn-primary">Crear Partido</button>
  <div class="search mb-3">
    <input
      type="number"
      placeholder="Buscar por ID del equipo"
      [(ngModel)]="searchTeamId"
      class="form-control search-input d-inline-block"
      style="width: auto;"
    />
    <button (click)="loadMatches(searchTeamId)" class="btn btn-secondary ml-2">Buscar</button>
  </div>

  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID Partido</th>
        <th>ID Liga</th>
        <th>Equipo Local</th>
        <th>Equipo Visitante</th>
        <th>Goles Local</th>
        <th>Goles Visitante</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of matches">
        <td>{{ match.idmatch }}</td>
        <td>{{ match.idleague }}</td>
        <td>{{ match.localteamid }}</td>
        <td>{{ match.visitteamid }}</td>
        <td>{{ match.goallocal }}</td>
        <td>{{ match.goalVisit }}</td>
        <td>
          
          <button class="btn btn-danger btn-sm" (click)="deleteMatch(match.idmatch)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
