<div class="container">
  <h2>Lista de Equipos</h2>
  <div class="mb-3">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Buscar Equipo por ID</mat-label>
      <input
        matInput
        type="number"
        id="teamId"
        [(ngModel)]="searchTeamId"
        placeholder="Ingrese el ID del equipo"
      />
    </mat-form-field>
    <button mat-raised-button color="accent" class="mt-2" (click)="searchTeam()">Buscar</button>
  </div>

  <div class="mb-3">
    <button mat-raised-button color="primary" [routerLink]="['/createTeam']">Crear Equipo</button>
  </div>

  <table mat-table [dataSource]="filteredTeams" class="mat-elevation-z8">
    <ng-container matColumnDef="idteam">
      <th mat-header-cell *matHeaderCellDef> ID Equipo </th>
      <td mat-cell *matCellDef="let team"> {{ team.idteam }} </td>
    </ng-container>

    <ng-container matColumnDef="teamname">
      <th mat-header-cell *matHeaderCellDef> Nombre del Equipo </th>
      <td mat-cell *matCellDef="let team"> {{ team.teamname }} </td>
    </ng-container>

    <ng-container matColumnDef="idLeague">
      <th mat-header-cell *matHeaderCellDef> ID Liga </th>
      <td mat-cell *matCellDef="let team"> {{ team.idLeague }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let team">
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
          <button mat-icon-button color="primary">
            <a [routerLink]="['/editTeam', team.idteam]" class="mat-button">Editar</a>
          </button>
          
        </div>
        <button mat-icon-button color="warn" (click)="deleteTeam(team.idteam)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
